.pagination {
    width: 70.3vw;
    height: 60px;
    background: #121212;;
    position: fixed; 
    bottom: 0; /* Place the footer at the bottom */
    right: 0; /* Align the footer to the derecha */
  }  

.paginationBttns {
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 2% 0;
  }
  .paginationBttns a {
    border: 1px solid black;
    padding: 5px 15px;
    cursor: pointer;
    background: #FEE500;
    color: black;
    box-shadow: -4px 4px 0px 0px rgba(254, 229, 0, 0.31);
  }

  .paginationBttns a:hover {
    color: #bd0075;
  }