.filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 25vw;
  height: 100vh;
  position: fixed;
  margin-right: 500px;
  background: rgba(0, 0, 0, 0.52);
}

.logo {
  max-width: 95%;
  height: auto;
  object-fit: contain;
}

.order-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 182px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.6);
  padding-bottom: 23px;
  gap: 20px;
  font-size: 11px;
  font-weight: 400;
  line-height: 16px; /* 145.455% */
}

#order-text {
  color: #fff;
  text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
  font-size: 19px;
  font-weight: 600;
  line-height: 16px; /* 84.211%  */
}

.order-button {
  background: rgba(255, 0, 184, 0.75);
  box-shadow: -4px 4px 4px 0px rgba(152, 0, 110, 0.7);
  display: inline-flex;
  padding: 8px 32.424px 8px 11.616px;
  align-items: flex-start;
  gap: 22.656px;
  color: black;
  border: none;
  cursor: pointer;
}
