.filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 28.5vw;
  height: 100vh;
  position: fixed;
  margin-right: 500px;
  background: rgba(0, 0, 0, 0.52);
  height: 100%; /* Establece la altura deseada */
  overflow-y: auto;
  gap: 20px;
}

/* Estilos del scroll solo para navegadores WebKit (Chrome, Safari, etc.) */
.filters::-webkit-scrollbar {
  width: 10px; /* Ancho del scroll */
}

.filters::-webkit-scrollbar-thumb {
  background-color: rgb(95, 0, 104); /* Color de la barra de desplazamiento */
  border-radius: 6px; /* Bordes redondeados de la barra de desplazamiento */
}

.filters::-webkit-scrollbar-track {
  background-color: #303030; /* Color del área del track (fondo detrás de la barra de desplazamiento) */
}

.filters::-webkit-scrollbar-thumb:hover {
  background-color: rgb(
    51,
    0,
    56
  ); /* Cambiar el color al pasar el mouse sobre la barra de desplazamiento */
}

.logo {
  max-width: 85%;
  height: auto;
  object-fit: contain;
}

.order-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 277px;
  height: 275px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.6);
  padding-bottom: 23px;
  gap: 12px;
  font-size: 11px;
  font-weight: 400;
  line-height: 16px; /* 145.455% */
}

#order-text {
  color: #fff;
  text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
  font-size: 17px;
  font-weight: 600;
  line-height: 16px; /* 84.211%  */
  padding: 0px 60px;
  margin-top: 16px;
  margin-bottom: 0;
}

.order-button {
  background: rgba(255, 0, 184, 0.75);
  box-shadow: -4px 4px 4px 0px rgba(152, 0, 110, 0.7);
  display: flex;
  flex-direction: row;
  padding: 5px 21px;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  color: black;
  border: 0.6px solid #000;
  cursor: pointer;
  width: 202px;
  height: 35px;
  font-family: 'Lato', sans-serif;
}

.genre-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 311px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.6);
  padding-bottom: 23px;
  gap: 12px;
  font-size: 11px;
  font-weight: 400;
  line-height: 16px; /* 145.455% */
}

.genre-button {
  background: rgba(255, 0, 184, 0.75);
  box-shadow: -4px 4px 4px 0px rgba(152, 0, 110, 0.7);
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: black;
  border: 0.6px solid #000;
  cursor: pointer;
  width: 80px;
  height: 38px;
  font-family: 'Lato', sans-serif;
}

.genre-button:hover {
  background: #ff00b7;
  box-shadow: -4px 4px 4px 0px #a60078;
}

.genre-button:active {
  background: #fee500;
  box-shadow: -1px 1px 4px 0px rgba(254, 229, 0, 0.24);
}
